<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dash</title>
</head>
<body>
    <table class="center">
        <tr>
            <th>ID |</th>
            <th>Redirect URL</th>
          </tr>
  <% db.data.forEach(e=>{%>
   <div class="div">
    <tr>
        <th><%- e.id%> | </th>
        <th><%- e.redirect%></th>
      </tr>
   

   </div>
    <% })%>
  
       
       
      </table>
      <style>
        .center {
  margin-left: auto;
  margin-right: auto;
}

      </style>
</div>
</body>
</html>